/* --------------- slider tab --------------- */
.satu .container{
  padding: 1rem;
  overflow-x: hidden;
  background: #fff;
}
.satu .container .tabs-box{
  display: flex;
  gap: 0 16px;
  list-style: none;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
.satu .container .tabs-box.dragging{
  scroll-behavior: auto;
  cursor: grab;
}
.satu .container .tabs-box .tab{
  cursor: pointer;
  white-space: nowrap;
  padding: 8px 16px;
  border-radius: 30px;
  border: 1px solid #555;
  color: #555;
}
.satu .container .tabs-box .tab.aktif,
.satu .container .tabs-box .tab:hover{
  background: blue;
  color: #fff;
  border: 1px solid blue;
}
.satu .container .tabs-box.dragging .tab{
  user-select: none;
  pointer-events: none;
}

/* --------------- konten tab --------------- */
.satu .tab-content .tab-panel{
  display: none;
}
.satu .tab-content .tab-panel.aktif{
  display: grid;
  padding: 1rem 0;
}
.satu .tab-content .tab-panel .box{
  position: relative;
  overflow: hidden;
  cursor: pointer;
}
.satu .tab-content .tab-panel .box img{
  width: 100%;
  max-width: 375px;
  height: 100%;
  max-height: 225px;
  display: block;
  margin: auto;
}
.satu .tab-content .tab-panel .box .hidden-text{
  position: absolute;
  background: rgba(0,0,0,50%);
  width: 100%;
  max-width: 375px;
  left: 50%;
  transform: translateX(-50%);
  bottom: -128px;
  padding: 8px 1rem;
}
.satu .tab-content .tab-panel .box:hover .hidden-text{
  transition: all .3s ease;
  bottom: 0;
}
.satu .tab-content .tab-panel .box .hidden-text p{
  color: lavender;
}
.satu .tab-content .tab-panel .box .hidden-text a{
  color: cyan;
}